POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
SECRET_KEY=secret_key
DEBAG_STATUS=''OrTrue
ALLOWED_HOSTS=serverIP,127.0.0.0,localhost,domain.name.net